<div class="row">
  <a class="randomAction">Рандомь сука</a>
</div>
<div class="row">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Тип</th>
      <th scope="col">Категория</th>
      <th scope="col">Дистанция</th>
      <th scope="col">Урон</th>
      <th scope="col">Обойма</th>
    </tr>

    <% weapon_item = @weapons.type.randomize %>
    <tr>
      <td><%= WeaponName.randomize %></td>
      <% weapon_item.each do |item|  %>
        <td><%=item%></td>
      <% end %>
    </tr>
  </table>

</div>
<div class="row" id="random">

</div>