<%= Time.now%>

<div class="row justify-content-end">
  <%= button_to "Generate",
              randomize_shop_index_path,
              :remote=>true,
              :method => :get,
              :class => "btn btn-info" %>
</div>

<div class="row">
  <table class="table table-sm">
    <thead>
    <tr >
      <th scope="col">Имя</th>
      <th scope="col">Тип</th>
      <th scope="col">Категория</th>
      <th scope="col">Урон</th>
      <th scope="col">Дистанция</th>
      <th scope="col">Обойма</th>
    </tr>
    <tbody id="popdon">
      <%= render 'shop_table' %>
    </tbody>
  </table>

</div>
